<link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
<div class="row"">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3 mx-auto">
    <h1>Checkout</h1>
    <h2>Total:{{total}}</h2>
    <div  id = "charge-error"  class="alert alert-danger" {{#if noErrors}} hidden {{/if}}>
      {{errMsg}}
    </div>
    <form action="/product/checkout" method="post" id ='checkout-form'>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input value="{{user.fullName}}" type="text" id='name' class='form-control' required name="name">
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Address</label>
            <input value="{{user.address}}" type="text" id='address' class='form-control' required name="address">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success">Purchase</button>
    </form>
  </div>
</div>

<script src="/bootstrap/bootstrap.min.js"></script>
