<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/reset.css">

<div class="log">
    <h2 class="log-form__heading">Log in as admin</h2>
    <form action="/admin/login" method="POST">
        <input class=" log-form__item" type="username" name="username" placeholder="Name" />
        <input class="log-form__item" type="password" name="password" placeholder="Password" />
        <input class="log-form__button" type="submit" value="Log in" />
    </form>
</div>