

<footer class="footer">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column">
                <h3 class="footer__heading">SHOP</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item--link">Men's Watches</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item--link">Ladies's Watches</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item--link">Sell-Trade</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column">
                <div class="footer-item-wrap">
                    <h3 class="footer__heading">Information</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="" class="footer__list-item--link">About me</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-item--link">About me</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-item--link">About me</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__column">
                <h3 class="footer__heading">Custom Service</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item--link">Contact us</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item--link">Order</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item--link">Term</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column">
                <h3 class="footer__heading">Follow Us</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item--link">
                            <i class="footer-item--icon fab fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item--link">
                            <i class="footer-item--icon fab fa-instagram-square"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item--link">
                            <i class="footer-item--icon fab fa-linkedin-in"></i>
                            Linkedin
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer__bottom">
        <div class="grid">
            <div class="grid__row">
                <p class="footer__copyright">Copyright 2021 © Nguyễn Lâm Sang</p>
            </div>
        </div>
    </div>
</footer>